/* Selectmenu
----------------------------------*/
.ui-selectmenu { display: inline-block; position:relative; text-decoration: none; overflow:hidden;}
.ui-selectmenu-menu { padding:0; margin:0; list-style:none; position:absolute; top: 0; visibility: hidden; overflow: auto; }
.ui-selectmenu-open { visibility: visible; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu-dropdown { }
.ui-selectmenu-menu li { padding:0; margin:0; display: block; font-weight: normal !important; }
.ui-selectmenu-menu li a,.ui-selectmenu-status {line-height: 1.4em; display:block; padding: 5px 18px 5px .6em; outline:none; text-decoration:none; }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 1.4em; }
.ui-selectmenu-open li.ui-selectmenu-item-focus a { border: 0; }
.ui-selectmenu-open li.ui-state-hover {  border: 0; background-color: #eee2d0; }
.ui-selectmenu-open li.ui-selectmenu-item-selected { }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-content {  }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/*for optgroups*/
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding:.6em .5em 0; font-weight: bold; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }

.ui-selectmenu-menu a:link,
.ui-selectmenu-menu a:hover,
.ui-selectmenu-menu a:focus,
form a.ui-selectmenu {
  color: #502D16;
  }

.ui-selectmenu-icon { position:absolute; right:0px; margin-top:-8px; top: 50%; }
form a.ui-selectmenu .ui-icon {
  background: #F9F1E5 url(/assets/images/dropdown.png) no-repeat right center;
  }

a#lang-select-button .ui-selectmenu-status {
  padding: 4px 18px 4px .6em;
}

#catalogue-filters .ui-selectmenu {
  vertical-align: middle;
  }
  
#catalogue-filters .ui-selectmenu-menu li a,  
#catalogue-filters .ui-selectmenu-status {
  padding: 4px 18px 4px .6em;
  }
